{# templates/admission/homepage.html.twig #}

{% extends "base.html.twig" %}

{% block body %}

<div class="row">
    <div class="col-md-3">

        <div class="card" style="width: 18rem;">
            <img src="{{ asset('imgs/icons/stations.svg') }}" class="mt-4 mb-2 mx-auto" alt="Station icon" height="122px">
            <div class="card-body">
                <h5 class="card-title">Weather stations</h5>
                <p class="card-text">
                    The weather station is the heart of the <span class="font-weight-bold">Arduino Weather System</span>. It is created around an Arduino Nano board. It is equipped with different sensors that will allow it to collect and transmit data to the API.
                </p>
            </div>
        </div>

    </div>
    <div class="col-md-3">

        <div class="card" style="width: 18rem;">
            <img src="{{ asset('imgs/icons/api.svg') }}" class="mt-4 mb-2 mx-auto" alt="API icon" height="122px">
            <div class="card-body">
                <h5 class="card-title">API</h5>
                <p class="card-text">
                    This is a web service allowing the recording of collected data. It is developed around the <a href="https://symfony.com" target="_blank">Symfony</a> 4.3 version framework.<br />
                    The API is fully documented on a dedicated <a href="{{ path('api_doc') }}">page</a>.
                </p>
                <p>
                    Find his code on our <a href="https://github.com/opheham/weather-api" target="_blank">Github</a> repository.
                </p>
            </div>
        </div>

    </div>
    <div class="col-md-3">

        <div class="card" style="width: 18rem;">
            <img src="{{ asset('imgs/icons/admin.svg') }}" class="mt-4 mb-2 mx-auto" alt="Admin icon" height="122px">
            <div class="card-body">
                <h5 class="card-title">Administration</h5>
                <p class="card-text">
                    We have developed a specific space to visualize and edit data.
                </p>
                <p>
                    This administration space was developed with the <a href="https://angular.io" target="_blank">Angular</a> framework.
                </p>
                <p>
                    Find his code on our <a href="https://github.com/opheham/weather-admin" target="_blank">Github</a> repository.
                </p>
            </div>
        </div>

    </div>
    <div class="col-md-3">

        <div class="card" style="width: 18rem;">
            <img src="{{ asset('imgs/icons/mobile.svg') }}" class="mt-4 mb-2 mx-auto" alt="App icon" height="122px">
            <div class="card-body">
                <h5 class="card-title">Mobile app</h5>
                <p class="card-text">
                    In your pocket, a mobile application, also administration area of your <span class="font-weight-bold">Arduino Weather System</span>. It will allow you to remotely control auxiliary systems like for example your automatic watering.
                </p>
                <p>
                    Find his code on our <a href="https://github.com/opheham/weather-app" target="_blank">Github</a> repository.
                </p>
            </div>
        </div>

    </div>
</div>

{% endblock %}